<div
  *ngFor="let sensor of sensors"
  class="card mb-3 cursor-link"
>
  <div class="row g-0" (click)="redirectToSensorPage(sensor.sensor_id)">
    <div class="col-md-4">
      <img
        src="/assets/images/temperatura.png"
        class="img-fluid rounded-start"
        alt="Sensors"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
          Sensor {{ sensor.sensor_id }}: {{ sensor.sensor_name }}
        </h5>
        <p class="card-text">
          Monitoriza la temperatura y humedad ambiental para evaluar las
          condiciones clim&aacute;ticas.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
  </div>
</div>
